<section>
  <h1>Zoey</h1>

  <ul class="contact-items">
    <li>
      <div class="contact-item-type">
        phone
      </div>
      <div class="contact-item-value">
        555-1232
      </div>
    </li>
    <li>
      <div class="contact-item-type">
        email
      </div>
      <div class="contact-item-value">
        zoey@emberjs.com
      </div>
    </li>
    <li>
      <div class="contact-item-type">
        note
      </div>
      <div class="contact-item-value">
        Met at EmberConf!
      </div>
    </li>
  </ul>

  <button class="edit-button">
    Edit
  </button>
</section>
